body {
  width: 70%;
  margin: auto;
  background-image: url("background.jpg");
  background-size: cover;
}

.tables {
  display: flex;
  align-content: space-between;
  width: auto;
  align-items: center;
  padding: 10px;
}

table {
  border: white 1px solid;
}

.letters {
  color: white;
}

li {
  color: white;
}

.shot {
  margin: 0;
  text-align: center;
  border: 1px solid orange;
  border-radius: 20px;
  background-color: orange;
}

p {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.cell {
  border: white 1px solid;
  width: 30px;
  height: 30px;
  color: white;
}

h1 {
  display: flex;
  justify-content: flex-start;
  color: white;
}

h2 {
  display: flex;
  justify-content: flex-start;
  color: white;
}

.ocupedCell {
  background-color: white;
}

.firedCell {
  background-color: orange;
  margin: 0;
  text-align: center;
  border: 1px solid orange;
  border-radius: 7px;
}

.crashCell {
  background-color: red;
}

#buttonAndCheckButton {
  display: flex;
  justify-content: space-around;
}

#checkBoxText {
  color: white;
}

#checkDoneButtonText {
  padding-bottom: 10px;
  padding-top: 10px;
  color: white;
  background-color: skyblue;
  margin-bottom: 10px;
}

#goBackButton {
  padding-bottom: 10px;
  padding-top: 10px;
  color: white;
  background-color: skyblue;
  margin-bottom: 10px;
}

#locateShipsButton {
  padding-bottom: 10px;
  padding-top: 10px;
  color: white;
  background-color: skyblue;
  margin-bottom: 10px;
}

#fireSalvosButton {
  padding-bottom: 10px;
  padding-top: 10px;
  color: white;
  background-color: skyblue;
  margin-bottom: 10px;
}
